/* :root {
    --color-1: #3d3d3d;
    --color-2: #84B026;
    --color-3: #217373;
    --color-4: #173540;
    --color-5: #161F30;
}

.bg-card {
    background-image: linear-gradient(to right, var(--color-4), var(--color-5));
}

.bg-header {
    background-color: var(--color-5);
}

.btn-primary {
    background-color: var(--color-2);
    border-color: var(--color-2);
    color: var(--color-5)
}

.btn-secondary {
    background-color: var(--color-3);
    border-color: var(--color-2);
    color: var(--color-5)
}

.btn-warning {
    background-color: var(--color-4);
    border-color: var(--color-2);
    color: whitesmoke;
} */
